@charset "utf-8";
/* CSS Document */
<<<<<<< HEAD
@font-face {
    font-family: 'paco';
	src:url('paco.TTF');
    font-weight: normal;
    font-style: normal;
}
div{
	outline:dashed red 1px;	
=======
body{
	background-image:;
	background-repeat:;

}
div.container1{
	width:1000px;
	min-height:950px;
	margin:0 auto;	
}

div.header{
	width:1000px;
	height:80px;
	background-color:#222C2E;
	padding-top:1px;
	position:fixed;
	opacity:0.93;
}
div.menu{
	width:600px;
	height:60px;
	margin-left:463px;
	margin-top:25px;
}
div.menu ul{
	list-style-type:none;
}
div.menu li{
	float:left;
	margin-left:10px;
	display:block;
	padding:7px 18px;
	text-align:center;
}
div.menu li.last{
	float:left;
	margin-left:10px;
	display:block;
	padding:7px 18px;
	border:none;
	text-align:center;
}
div.menu a{
	text-decoration:none;
	color:#fff;
	font-size:13px;
	direction:rtl;
	text-align:center;
}
div.menu li:hover{
	float:left;
	margin-left:10px;
	display:block;
	padding:7px 18px;
	text-align:center;
	background-color:#00C2C9;
	transition:all 700ms linear;
	-webkit-transition:all 700ms linear;
	-moz-transition:all 700ms linear;
	-o-transition:all 700ms linear;
	-ms-transition:all 700ms linear;
}
div.logo{
	width:275px;
	height:70px;
	background-image:url(Images/apple.jpg);
	background-repeat:no-repeat;
	margin-top:-80px;	
	margin-left:10px;
	border-radius:9px;
	box-shadow:5px 5px 5px #333;
	-webkit-box-shadow:5px 5px 5px #333;
	-moz-box-shadow:5px 5px 5px #333;
	-ms-box-shadow:5px 5px 5px #333;
	-o-box-shadow:5px 5px 5px #333;
}

@charset "utf-8";
/* CSS Document */

*{
	margin:0;
	padding:0;
}

div.container{
	width:1000px;
	margin:0 auto;
	padding-top:1px;

}

div.banner{
	width:1000px;
	height:534px;
	overflow:hidden;
	position:relative;
	margin-top:80px;
}

div.banner div.scroll{
	width:5000px; /* 5*1000 (per img) */
	height:534px;
	position:absolute;
	left:0;
	top:0;
	-webkit-transition-property:all;
	-webkit-transition-duration:800ms;
	-webkit-transition-timing-function:cubic-bezier(0,0.7,0.3,1);

	
}

div.banner div.scroll > div{
	width:1000px;
	height:inherit;
	float:left;
	background-repeat:no-repeat;
	background-position:left top;
}

div.banner div.scroll > div.adv1{
	background-color:hsl(0,35%,35%);
	background-image:url(images/2.jpg);
}
div.banner div.scroll > div.adv2{
	background-color:hsl(60,35%,35%);
	background-image:url(images/3.jpg);
}
div.banner div.scroll > div.adv3{
	background-color:hsl(120,35%,35%);
	background-image:url(images/4.jpg);
}
div.banner div.scroll > div.adv4{
	background-color:hsl(180,35%,35%);
	background-image:url(images/5.jpg);
}
div.banner div.scroll > div.adv5{
	background-color:hsl(240,35%,35%);
	background-image:url(images/6.jpg);
}

div.banner ul.btn{
	list-style-type:none;
	width:200px;
	height:16px;
	position:absolute;
	right:0;
	bottom:0;
	top:510px;
}

div.banner ul.btn li{
	float:left;
	width:30px;
	height:10px;
	margin-right:5px;
	background-color:#333;
	cursor:pointer;
	-webkit-transition:all 1000ms;
}

div.banner ul.btn li:hover,
div.banner ul.btn li.active{
	background-color:#39D;
	height:22px;
	margin-top:-6px;
	-webkit-transition-duration:300ms;
>>>>>>> origin/master
}

body{
	background-image:url(Images/bg.png);
	background-repeat:repeat;

}
div.container1{
	width:1000px;
	min-height:950px;
	margin:0 auto;	
}

div.header{
	width:1000px;
	height:80px;
	background-color:#222C2E;
	padding-top:1px;
	position:fixed;
	opacity:0.93;
}
div.menu{
	width:600px;
	height:60px;
	margin-left:463px;
	margin-top:25px;
}
div.menu ul{
	list-style-type:none;
}
div.menu li{
	float:left;
	margin-left:10px;
	display:block;
	padding:7px 18px;
	text-align:center;
}
div.menu li.last{
	float:left;
	margin-left:10px;
	display:block;
	padding:7px 18px;
	border:none;
	text-align:center;
}
div.menu a{
	text-decoration:none;
	color:#fff;
	font-size:13px;
	direction:rtl;
	text-align:center;
}
div.menu li:hover{
	float:left;
	margin-left:10px;
	display:block;
	padding:7px 18px;
	text-align:center;
	background-color:#00C2C9;
	transition:all 700ms linear;
	-webkit-transition:all 700ms linear;
	-moz-transition:all 700ms linear;
	-o-transition:all 700ms linear;
	-ms-transition:all 700ms linear;
}
div.logo{
	width:275px;
	height:70px;
	background-image:url(Images/apple.jpg);
	background-repeat:no-repeat;
	margin-top:-80px;	
	margin-left:10px;
	border-radius:9px;
	box-shadow:5px 5px 5px #333;
	-webkit-box-shadow:5px 5px 5px #333;
	-moz-box-shadow:5px 5px 5px #333;
	-ms-box-shadow:5px 5px 5px #333;
	-o-box-shadow:5px 5px 5px #333;
}

@charset "utf-8";
/* CSS Document */

*{
	margin:0;
	padding:0;
}

div.container{
	width:1000px;
	margin:0 auto;
	padding-top:1px;

}

div.banner{
	width:1000px;
	height:534px;
	overflow:hidden;
	position:relative;
	margin-top:80px;
}

div.banner div.scroll{
	width:5000px; /* 5*1000 (per img) */
	height:534px;
	position:absolute;
	left:0;
	top:0;
	-webkit-transition-property:all;
	-webkit-transition-duration:800ms;
	-webkit-transition-timing-function:cubic-bezier(0,0.7,0.3,1);

	
}

div.banner div.scroll > div{
	width:1000px;
	height:inherit;
	float:left;
	background-repeat:no-repeat;
	background-position:left top;
}

div.banner div.scroll > div.adv1{
	background-color:hsl(0,35%,35%);
	background-image:url(images/2.jpg);
}
div.banner div.scroll > div.adv2{
	background-color:hsl(60,35%,35%);
	background-image:url(images/3.jpg);
}
div.banner div.scroll > div.adv3{
	background-color:hsl(120,35%,35%);
	background-image:url(images/4.jpg);
}
div.banner div.scroll > div.adv4{
	background-color:hsl(180,35%,35%);
	background-image:url(images/5.jpg);
}
div.banner div.scroll > div.adv5{
	background-color:hsl(240,35%,35%);
	background-image:url(images/6.jpg);
}

div.banner ul.btn{
	list-style-type:none;
	width:200px;
	height:16px;
	position:absolute;
	right:0;
	bottom:0;
	top:510px;
}

div.banner ul.btn li{
	float:left;
	width:30px;
	height:10px;
	margin-right:5px;
	background-color:#333;
	cursor:pointer;
	-webkit-transition:all 1000ms;
}

div.banner ul.btn li:hover,
div.banner ul.btn li.active{
	background-color:#39D;
	height:22px;
	margin-top:-6px;
	-webkit-transition-duration:300ms;
}
div.content{
	width:1000px;
	min-height:500px;
	background-color:#FFFFFF;
	padding-top:1px;
}
div.news{
	width:inherit;
	height:85px;
	margin:0 auto;
	margin-top:12px;
}
div.news p.pro{	
	font-family:'paco';
	font-size:30px;
	text-align:center;
}
div.news p.line{
	font-size:17px;
	color:#999;
	text-align:center;	
}
div.first-box{
	width:1000px;
	min-height:255px;
}
div.first-box div.left{
	width:322px;
	height:250px;
	float:left;	
}
div.first-box div.middle{
	width:322px;
	height:250px;
	margin-left:675px;
}
div.first-box div.right{
	width:322px;
	height:250px;
	float:left;
}
div.first-box div.clear{
	clear:both;
}
